.input:focus {
    outline: none;
    border: #61dafb solid 2px;
}

.superInput {
    margin: 10px;
    color: #4d12ff;
    background: white;
    border-radius: 5px;
}

.errorInput {
    margin: 10px;
    border: 2px solid red;
    background: #ff7f80;
    color: #4d12ff;
}

.error {
    color: #ff0710;
    height: 20px;
}